
# Executables
*.exe
*.out
*.app

.env

#react files
/node_modules
/medical-records/node_modules
/build
medical-records/dist
private/*.json
/medical-records/src/main.jsx
/medical-records/vite.config.js